.cofe1{
    width: 500px;
    margin-left: 640px;
    margin-top: -345px;
}



.container{
    flex-direction: row-reverse;
        flex-wrap: nowrap;
    
    }

h1{
    font-style: oblique;
    font-family: American Typewriter, serif;
font-size: 100px;
margin-top: 100px;
margin-left: 80px;
color:rgb(51,28,13);

}

.main-wrapper {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1170px;
}


.main-menu {
    margin-left: auto;
}

.main-menu > ul > li {
    display: inline-block;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: rgb(255,241,183);
    margin-right: 15px;
    cursor: pointer;
    position: relative;
}

.main-menu > ul > li > a {
    text-decoration: none;
    color: inherit;
}

.main-menu > ul > li:last-child {
    margin-right: 0;
}


.main-menu > ul > li::before {
    content: '';
    width: 10%;
    height: 3px;
    background: #ffffff;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 25px;
    opacity: 0;
    transition-duration: 0.3s;
}

.logo {
    width: 70px;
    margin: 5px 0;
}

.main-menu > ul > li:hover::before {
    opacity: 1;
    width: 100%;
}

.main-menu {
    margin: 10px 0;
}

@media  (max-width: 510px) {
    .main-menu > ul > li {
        padding-bottom: 22px;
    }

    .main-menu > ul {
        text-align: center;
    }

    .main-menu {
        margin: 0;
    }

    .blog-container__item-text-container {
        padding: 5px;
    }
}

header > .main-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
}

header {
    background-color: rgb(51,28,13);
    height: 65px;
    position: sticky;
    top:0;
    z-index: 10;
}

@media  (max-width: 720px) {
    header > .main-wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }

    .main-menu {
        margin: 10px 0;
    }

    header {
        height: auto;
    }

    
    .logo {
        margin: 5px 0;
    }
}


hr {
    margin-top: 10px;
    width: 1300px;
    
    border: 1px solid rgb(193 185 154);
  }

.li {

    color: rgb(26, 25, 22);
    
}

.services{

    background-color:rgb(51,28,13) ;
}

.li{
 font-size: 100px;
 text-align:center;
}
.ul{

    font-size: 50px;
 text-align:center;
}

h2{
    
}



.container1 {
    max-width: 700px;
    margin: 0 auto;
  }

  .itc-slider__item {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255,255,255, 0.8);
    font-size: 7rem;
  }

  .itc-slider__item:nth-child(1) {
    background-color: #f44336;
  }

  .itc-slider__item:nth-child(2) {
    background-color: #9c27b0;
  }

  .itc-slider__item:nth-child(3) {
    background-color: #3f51b5;
  }

  .itc-slider__item:nth-child(4) {
    background-color: #03a9f4;
  }

  .itc-slider__item:nth-child(5) {
    background-color: #4caf50;
  }

  .page-title {
    text-align: center;
  }
  
  .slider-container {
    position: relative;
    width: 600px;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
.prev-button,
  .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: white;
  }
  
  .prev-button {
    left: 10px;
  }
  
  .next-button {
    right: 10px;
  }